.reset-password-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: #E0E0E0;
}

.reset-password-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100%;
    background-color: #E0E0E0;

}

.Common {
    width: 860px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 300px;
}

.boundary {
    border: 1px solid gray;
    border-radius: 350px 350px 0 0;
    margin-top: 80px;
}

.icon-container {
    margin-top: 80px;
}

#new-password {
    width: 340px;
    padding: 8px;
    border: none;
    color: #A95454;
    margin-top: 50px;
    background-color: #E0E0E0;
    border-bottom: 1px solid gray;
}

#confirmpassword {
    width: 340px;
    padding: 8px;
    border: none;
    color: #A95454;
    margin-top: 50px;
    background-color: #E0E0E0;
    border-bottom: 1px solid gray;
}

.reset-success {
    color: #777;
    text-align: left;
    position: relative;
    left: -85px;
    top: -30px;
}


@media only screen and (max-width: 600px) {
    body {
        background-color: #E0E0E0;
        width: 100vw;
    }

    .reset-password-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow-x: hidden;
    }

    #confirm-password {
        width: 315px;
    }

    #password {
        width: 315px;
    }

    .Common {
        width: 100% !important;
        height: 50%;
        object-fit: cover;
        position: relative;
        top: -110px;
    }

    #new-password,
    #confirm-password {
        width: 300px;
    }

    .content-container {
        width: 95%;
        position: relative;
        left: -10px;
        padding: 20px;
        height: 100%;
        background-color: #E0E0E0;
        position: relative;
        top: -50px;
    }

    .reset-success {
        color: #777;
        text-align: left;
        position: relative;
        left: -65px;
        top: -30px;
    }

    .icon-overlay {
        position: absolute;
        left: 20%;
        transform: translateX(-50%);
        margin-top: 30px;
    }

        .icon-overlay {
            z-index: 5;
            position: absolute;
            margin-left: 70px;
            top: -10px;
            transform: translateX(-50%);
        }
    
        .icon-overlay img {
            width: 100%;
        }


}